.KeksText {
    position: absolute;
    height: 16px;
    left: 75%;
    right: 12.5%;
    top: calc(50% - 16px/2 + 26.5px);
    
    font-family: Abhaya Libre;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    
    color: #4D4D4D;

}