.Katalog {
    position: absolute;
    height: 19px;
    left: 0%;
    right: 55.71%;
    top: calc(50% - 19px/2 - 0.5px);
    
    font-family: Abhaya Libre;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    
    color: #4D4D4D;
}